/* Presets */
/* Import Local Font */
@font-face {
  font-family: EBGaramond;
  src: url("../fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-serif: EBGaramond, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "PingFang SC", "Hiragino Sans GB", STZhongsong, "Microsoft YaHei";
  --font-logo: ArtFont, STZhongsong, "Microsoft YaHei";
  --color-primary: #000;
  --color-secondary: #8f0e0e;
  --color-dark: #333;
  --color-light: #f4f4f4;
  --color-success: #5cb85c;
  --color-error: #d9534f;
}

body {
  background-color: var(--color-primary);
  height: 100vh;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}

p {
  margin: 10px 0;
  font-family: var(--font-sans-serif);
}

img {
  width: 100%;
}

/* Utils */

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 40px;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hidden {
  display: none;
}

.translucent {
  opacity: 0;
}

.text-sm {
  font-size: 0.8em;
}

.text-md {
  font-size: 1em;
}

.text-lg {
  font-size: 1.2em;
}

.text-xlg {
  font-size: 1.5em;
}

.text-xxlg {
  font-size: 2em;
}

.text-xxxlg {
  font-size: 4.5em;
}

/* navbar */

.logo {
  letter-spacing: 3px;
}

.navbar {
  z-index: 100;
  color: var(--color-light);
  margin-top: 1%;
  height: 70px;
  width: 100%;
}

.navbar.flex {
  justify-content: space-between;
}

nav a {
  padding: 10px;
  margin: 0 5px;
  color: var(--color-light);
  font-family: var(--font-serif);
  letter-spacing: 2px;
}

.bar-list:hover > .bar-item {
  opacity: 0.6;
}

.bar-list:hover > .bar-item:hover {
  opacity: 1;
}

.bar-item {
  letter-spacing: 4px;
  margin: 0 16px;
}

@keyframes onHover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* Cards Container */
.cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 1920px;
}

.cards > ul {
  margin: 0;
  padding: 0;
}

.card-list {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Card Logo */
.card-item > .logo {
  z-index: 0;
  position: absolute;
  top: 0;
  width: calc((100vw * 1.2) / 5);
  color: var(--color-light);
  font-size: 2em;
  font-family: var(--font-serif);
  text-align: center;
  opacity: 1;
  transform: skewX(20deg);
  padding: 45vh 0;
  opacity: 0;
  transition: opacity 0.7s, width 0.7s;
}

/* Card */
.card-item {
  position: absolute;
  width: calc(100vw * 1.2 / 5);
  height: 100%;
  transform: skewX(-20deg);
  overflow: hidden;
  transition: width 0.8s, left 0.8s;
}

.card-item:nth-of-type(1) {
  top: 0;
  left: calc((((100vw * 1.2) / 5) * 0) - (100vw * 0.1));
}
.card-item:nth-of-type(2) {
  top: 0;
  left: calc((((100vw * 1.2) / 5) * 1) - (100vw * 0.1));
}
.card-item:nth-of-type(3) {
  top: 0;
  left: calc((((100vw * 1.2) / 5) * 2) - (100vw * 0.1));
}
.card-item:nth-of-type(4) {
  top: 0;
  left: calc((((100vw * 1.2) / 5) * 3) - (100vw * 0.1));
}
.card-item:nth-of-type(5) {
  top: 0;
  left: calc((((100vw * 1.2) / 5) * 4) - (100vw * 0.1));
}

.card-item > div.img {
  display: block;
  z-index: -1;
  width: 100vw;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  transform: skewX(20deg);
  background-position: -30vw;
  right: 10vw;

  filter: grayscale(var(--value, 100%));
  transition: filter 0.5s ease-in-out;
}
.card-item:nth-of-type(1) > div.img {
  background-image: url(../img/10001.jpg);
  left: 10vw;
}
.card-item:nth-of-type(2) > div.img {
  background-image: url(../img/10002.jpg);
}
.card-item:nth-of-type(3) > div.img {
  background-image: url(../img/10003.jpg);
}
.card-item:nth-of-type(4) > div.img {
  background-image: url(../img/10006.jpg);
}
.card-item:nth-of-type(5) > div.img {
  background-image: url(../img/10004.jpg);
}

/* Cards On Hover Styles */
.hov > div.img {
  filter: grayscale(var(--value, 0));
}

.hov > div.logo {
  opacity: 1;
  width: calc(((100vw * 1.2) / 5) * 1.5);
}

.card-item:nth-of-type(1).hov {
  width: calc(((100vw * 1.2) / 5) * 1.5);
  z-index: 1;
}
.card-item:nth-of-type(2).hov {
  width: calc(((100vw * 1.2) / 5) * 1.5);
  z-index: 1;
}
.card-item:nth-of-type(3).hov {
  width: calc(((100vw * 1.2) / 5) * 1.5);
  z-index: 1;
}
.card-item:nth-of-type(4).hov {
  width: calc(((100vw * 1.2) / 5) * 1.5);
  left: calc(
    ((((100vw * 1.2) / 5) * 3) - (100vw * 0.1)) - (((100vw * 1.2) / 5) * 0.5)
  );
  z-index: 1;
}
.card-item:nth-of-type(5).hov {
  width: calc(((100vw * 1.2) / 5) * 1.5);
  left: calc(
    ((((100vw * 1.2) / 5) * 4) - (100vw * 0.1)) - (((100vw * 1.2) / 5) * 0.5)
  );
  z-index: 1;
}

/* Cards not on hover style while another on hover */
.card-item:nth-of-type(1).hov-left {
  left: calc(((((100vw * 1.2) / 5) * 0) - (100vw * 0.2)));
  z-index: 1;
}
.card-item:nth-of-type(2).hov-left {
  left: calc(((((100vw * 1.2) / 5) * 1) - (100vw * 0.2)));
  z-index: 1;
}
.card-item:nth-of-type(3).hov-left {
  left: calc(((((100vw * 1.2) / 5) * 2) - (100vw * 0.2)));
  z-index: 1;
}

.card-item:nth-of-type(4).hov-left {
  left: calc(((((100vw * 1.2) / 5) * 3) - (100vw * 0.2)));
  z-index: 1;
}

.card-item:nth-of-type(2).hov-right {
  left: calc(((((100vw * 1.2) / 5) * 1 - (100vw * 0.02))));
  z-index: 1;
}
.card-item:nth-of-type(3).hov-right {
  left: calc(((((100vw * 1.2) / 5) * 2 - (100vw * 0.02))));
  z-index: 1;
}
.card-item:nth-of-type(4).hov-right {
  left: calc(((((100vw * 1.2) / 5) * 3 - (100vw * 0.02))));
  z-index: 1;
}
.card-item:nth-of-type(5).hov-right {
  left: calc(((((100vw * 1.2) / 5) * 4 - (100vw * 0.02))));
  z-index: 1;
}

/* Detail Pages */
.page-list > .page-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#pages .info-container {
  position: relative;
  max-width: 900px;
  height: 100%;
}

#pages .info-container .info {
  position: absolute;
  top: 18%;
  margin: 5% 10%;
  padding-left: 10%;
  width: 70%;
  min-height: 55%;
  opacity: 1;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

#pages .title {
  letter-spacing: 0.2em;
  margin-right: 0.5em;
  flex: 2;
}

#pages .description {
  margin: 0;
  padding-right: 20%;
  letter-spacing: 0.1em;
  text-align: left;
  flex-direction: column;
}

#pages .info-container .info .subtitle {
  font-size: 0.6em;
  margin: 1em;
}

#pages .title,
.subtitle,
.description {
  color: var(--color-light);
}

.pic_close {
  position: absolute;
  top: 0;
  right: 3em;
  bottom: 0;
  width: 4.2em;
  height: 4.2em;
  margin: auto 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  background-image: url(../img/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  cursor: pointer;
}

.pic_close:hover {
  animation: onHover 0.5s ease-in-out;
}

/* 响应式设计 */
@media (max-width: 1330px) {
  .text-lg {
    font-size: 1em;
  }
  .text-xlg {
    font-size: 1.5em;
  }
  .text-xxlg {
    font-size: 2em;
  }
  .text-xxxlg {
    font-size: 3em;
  }

  #pages .info-container .info {
    margin: 5%;
  }

  .pic_close {
    right: 1em;
    width: 3.2em;
    height: 3.2em;
  }
}

@media (max-width: 770px) {
  .navbar.flex {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .navbar .bar-list {
    padding: 0;
  }

  .text-xlg {
    font-size: 1.1em;
  }
  .text-xxlg {
    font-size: 1.4em;
  }
  .text-xxxlg {
    font-size: 2.4em;
  }
}
